.background {
  background: #101010;
}

.logo {
  background-image: url(https://raw.githubusercontent.com/TheRealGeoDash2019/cast/main/assets/geo.png);
}

.progressBar {
  background-color: #0a148e;
}

.watermark {
  background-image: url(https://raw.githubusercontent.com/TheRealGeoDash2019/cast/main/assets/geo.png);
  background-size: 57px 57px;
}
