.background {
  background: #101010;
}

.logo {
  background-image: url(logo.png);
}

.progressBar {
  background-color: #280979;
}

.splash {
  background-image: url(splash.png);
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}
